<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mylocalgym</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Palestra1914</property>
   
    <mapping class="br.com.gym.mylocalgym.entities.Cliente" />
    <mapping class="br.com.gym.mylocalgym.entities.Academia" />
    <mapping class="br.com.gym.mylocalgym.entities.HistoricoCredito" />
    <mapping class="br.com.gym.mylocalgym.entities.HistoricoTransacao" />
    <mapping class="br.com.gym.mylocalgym.entities.Checkin" />
    <mapping class="br.com.gym.mylocalgym.entities.CarteiraAcademia" />
    <mapping class="br.com.gym.mylocalgym.entities.CarteiraCliente" />
    
  </session-factory>
</hibernate-configuration>
